h1{
    color: white;
    text-align: center;
    
}
.ac{
    color: white;
}
.la{
    color: white;
}
.tab{
    border-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.le{
    border-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
